<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} >> %magenta([%thread]) %highlight(%-5level) %logger{36} - %msg %n
            </Pattern>
        </encoder>
    </appender>

    <appender name="rollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <File>~/logs/logback.log</File>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>~/logs/log_%d{dd-MM-yyyy}_%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <Pattern>%d{HH:mm:ss} [%thread] %-5level %logger - %msg %n</Pattern>
        </encoder>
    </appender>

    <logger name="com.mda.easy" level="debug" additivity="false">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="rollingFileAppender"/>
    </logger>

</configuration>